html,
body {
  font-family: "oswald", sans-serif;
  background-color: #040404;
}

.button {
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #333333;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ff9f0a;
  font-size: 20px;
  width: 66px;
}
.row {
  margin: 8px 0;
}
.row input {
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid silver;
  border-radius: 15px;
  width: 291px;
  background-color: silver;
  font-size: 20px;
}
.co {
  background-color: #333333;
}
